// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	http "net/http"
	os "os"

	coherego "github.com/cohere-ai/cohere-go"
	audioclient "github.com/cohere-ai/cohere-go/audio/client"
	batches "github.com/cohere-ai/cohere-go/batches"
	connectors "github.com/cohere-ai/cohere-go/connectors"
	core "github.com/cohere-ai/cohere-go/core"
	datasets "github.com/cohere-ai/cohere-go/datasets"
	embedjobs "github.com/cohere-ai/cohere-go/embedjobs"
	client "github.com/cohere-ai/cohere-go/finetuning/client"
	internal "github.com/cohere-ai/cohere-go/internal"
	models "github.com/cohere-ai/cohere-go/models"
	option "github.com/cohere-ai/cohere-go/option"
	v2 "github.com/cohere-ai/cohere-go/v2"
)

type Client struct {
	WithRawResponse *RawClient
	V2              *v2.Client
	Batches         *batches.Client
	EmbedJobs       *embedjobs.Client
	Datasets        *datasets.Client
	Connectors      *connectors.Client
	Models          *models.Client
	Finetuning      *client.Client
	Audio           *audioclient.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	if options.Token == "" {
		options.Token = os.Getenv("CO_API_KEY")
	}
	return &Client{
		V2:              v2.NewClient(options),
		Batches:         batches.NewClient(options),
		EmbedJobs:       embedjobs.NewClient(options),
		Datasets:        datasets.NewClient(options),
		Connectors:      connectors.NewClient(options),
		Models:          models.NewClient(options),
		Finetuning:      client.NewClient(options),
		Audio:           audioclient.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Generates a streamed text response to a user message.
//
// To learn how to use the Chat API and RAG follow our [Text Generation guides](https://docs.cohere.com/docs/chat-api).
func (c *Client) ChatStream(
	ctx context.Context,
	request *coherego.ChatStreamRequest,
	opts ...option.RequestOption,
) (*core.Stream[coherego.StreamedChatResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.cohere.com",
	)
	endpointURL := baseURL + "/v1/chat"
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	if request.Accepts != nil {
		headers.Add("Accepts", *request.Accepts)
	}
	headers.Add("Content-Type", "application/json")
	streamer := internal.NewStreamer[coherego.StreamedChatResponse](c.caller)
	return streamer.Stream(
		ctx,
		&internal.StreamParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			MaxBufSize:      options.MaxBufSize,
			Request:         request,
			ErrorDecoder:    internal.NewErrorDecoder(coherego.ErrorCodes),
		},
	)
}

// Generates a text response to a user message.
// To learn how to use the Chat API and RAG follow our [Text Generation guides](https://docs.cohere.com/docs/chat-api).
func (c *Client) Chat(
	ctx context.Context,
	request *coherego.ChatRequest,
	opts ...option.RequestOption,
) (*coherego.NonStreamedChatResponse, error) {
	response, err := c.WithRawResponse.Chat(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// <Warning>
// This API is marked as "Legacy" and is no longer maintained. Follow the [migration guide](https://docs.cohere.com/docs/migrating-from-cogenerate-to-cochat) to start using the Chat with Streaming API.
// </Warning>
// Generates realistic text conditioned on a given input.
func (c *Client) GenerateStream(
	ctx context.Context,
	request *coherego.GenerateStreamRequest,
	opts ...option.RequestOption,
) (*core.Stream[coherego.GenerateStreamedResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.cohere.com",
	)
	endpointURL := baseURL + "/v1/generate"
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Content-Type", "application/json")
	streamer := internal.NewStreamer[coherego.GenerateStreamedResponse](c.caller)
	return streamer.Stream(
		ctx,
		&internal.StreamParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			MaxBufSize:      options.MaxBufSize,
			Request:         request,
			ErrorDecoder:    internal.NewErrorDecoder(coherego.ErrorCodes),
		},
	)
}

// <Warning>
// This API is marked as "Legacy" and is no longer maintained. Follow the [migration guide](https://docs.cohere.com/docs/migrating-from-cogenerate-to-cochat) to start using the Chat API.
// </Warning>
// Generates realistic text conditioned on a given input.
func (c *Client) Generate(
	ctx context.Context,
	request *coherego.GenerateRequest,
	opts ...option.RequestOption,
) (*coherego.Generation, error) {
	response, err := c.WithRawResponse.Generate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// This endpoint returns text and image embeddings. An embedding is a list of floating point numbers that captures semantic information about the content that it represents.
//
// Embeddings can be used to create classifiers as well as empower semantic search. To learn more about embeddings, see the embedding page.
//
// If you want to learn more how to use the embedding model, have a look at the [Semantic Search Guide](https://docs.cohere.com/docs/semantic-search).
func (c *Client) Embed(
	ctx context.Context,
	request *coherego.EmbedRequest,
	opts ...option.RequestOption,
) (*coherego.EmbedResponse, error) {
	response, err := c.WithRawResponse.Embed(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// This endpoint takes in a query and a list of texts and produces an ordered array with each text assigned a relevance score.
func (c *Client) Rerank(
	ctx context.Context,
	request *coherego.RerankRequest,
	opts ...option.RequestOption,
) (*coherego.RerankResponse, error) {
	response, err := c.WithRawResponse.Rerank(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// This endpoint makes a prediction about which label fits the specified text inputs best. To make a prediction, Classify uses the provided `examples` of text + label pairs as a reference.
// Note: [Fine-tuned models](https://docs.cohere.com/docs/classify-fine-tuning) trained on classification examples don't require the `examples` parameter to be passed in explicitly.
func (c *Client) Classify(
	ctx context.Context,
	request *coherego.ClassifyRequest,
	opts ...option.RequestOption,
) (*coherego.ClassifyResponse, error) {
	response, err := c.WithRawResponse.Classify(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// <Warning>
// This API is marked as "Legacy" and is no longer maintained. Follow the [migration guide](https://docs.cohere.com/docs/migrating-from-cogenerate-to-cochat) to start using the Chat API.
// </Warning>
// Generates a summary in English for a given text.
func (c *Client) Summarize(
	ctx context.Context,
	request *coherego.SummarizeRequest,
	opts ...option.RequestOption,
) (*coherego.SummarizeResponse, error) {
	response, err := c.WithRawResponse.Summarize(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// This endpoint splits input text into smaller units called tokens using byte-pair encoding (BPE). To learn more about tokenization and byte pair encoding, see the tokens page.
func (c *Client) Tokenize(
	ctx context.Context,
	request *coherego.TokenizeRequest,
	opts ...option.RequestOption,
) (*coherego.TokenizeResponse, error) {
	response, err := c.WithRawResponse.Tokenize(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// This endpoint takes tokens using byte-pair encoding and returns their text representation. To learn more about tokenization and byte pair encoding, see the tokens page.
func (c *Client) Detokenize(
	ctx context.Context,
	request *coherego.DetokenizeRequest,
	opts ...option.RequestOption,
) (*coherego.DetokenizeResponse, error) {
	response, err := c.WithRawResponse.Detokenize(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Checks that the api key in the Authorization header is valid and active
func (c *Client) CheckApiKey(
	ctx context.Context,
	opts ...option.RequestOption,
) (*coherego.CheckApiKeyResponse, error) {
	response, err := c.WithRawResponse.CheckApiKey(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
